@import "color";
:host {
  display: flex;
  align-items: center;
}

em {
  padding: 7px;
  border-radius: 50%;
  &:hover {
    background-color: $grey-middle;
  }
  &.s {
    font-size: 0.5rem;
  }
  &.m {
    font-size: 1rem;
  }
}
