@import 'variables';
@import 'color';

:host {
  display: flex;
  align-items: center;
  justify-content: center;
}
.input {
  cursor: pointer;
  width: 140px;
  height: 3rem;
  padding: 0.375rem 0.4rem 0.375rem 0.75rem;
  border: 1px solid $grey-iron;
  border-radius: var(--form-radius-m);

  &.disabled {
    cursor: auto;
    background-color: $grey-light;
    em {
      color: $grey-iron;
    }
  }
  &.focus {
    border-width: 2px;
    border-bottom-color: var(--primary-color);
  }
  &.error {
    border: 1px solid $red-middle;
    &:hover {
      background-color: var(--warn-background-hover);
      border-width: 1.5px;
    }
    em {
      color: $red-middle;
    }
  }
  em {
    font-size: 1.2rem;
    color: $grey-black;
    transition: 0.3s;
    &.cancel {
      display: flex;
      align-items: center;
      justify-content: center;
      margin-right: 0.15rem;
      width: 17px;
      height: 17px;
      font-size: 0.5rem;
      font-weight: 700;
      color: $grey-black;
      border-radius: 50%;

      &:hover {
        font-size: 0.4rem;
        background-color: var(--primary-background-hover);
        color: $grey-black;
      }
    }
  }
}
.calendar-container {
  z-index: 70;
  top: 36px;
  left: 0;
  padding: 18px 24px;
  box-shadow: 0px 1px 6px 0px rgba(0, 0, 0, 0.2);
  background-color: $white;
  border-radius: 10px;
  box-sizing: content-box;
  transition: border 0.2s;
  border: 1.5px solid transparent;
  &:hover {
    border: 1.5px solid var(--primary-color);
  }
}

h5 {
  font-size: 16px;
  font-weight: normal;
}

h5 {
  margin-bottom: 0;
}
