@import 'variables';
@import 'color';

.title {
  font-size: 1rem;
  font-weight: 400;
  letter-spacing: 1px;
  color: $grey-black;
  border-radius: 4px;
  &:not(.isRange):hover {
    cursor: pointer;
    background-color: $grey-middle;
  }
}

table {
  margin-top: 5px;
  & th {
    font-size: 0.8rem;
  }
  tbody {
    & td {
      font-size: 1rem;
      & div {
        cursor: pointer;
        width: 35px;
        height: 35px;
        min-width: 35px;
        min-height: 35px;
        padding: 1px 4px;
        color: #000;
        border-radius: 7rem;
        &:hover {
          color: white;
          background-color: var(--primary-color);
        }
        &.end-hovered {
          border-radius: 0 7rem 7rem 0;
          background-color: var(--primary-color);
        }
        &.start-selected {
          border-radius: 7rem 0 0 7rem;
          background-color: var(--primary-color);
        }
        &.between {
          border-radius: 0;
          background-color: var(--primary-background-hover);
        }
        &.disabled {
          cursor: default;
          color: $grey-middle;
          background-color: unset;
        }
        &.selected {
          color: white;
          background-color: var(--primary-color);;
        }
      }
    }
  }
}

.month-toggle {
  display: flex;
  em {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 25px;
    min-width: 25px;
    height: 25px;
    min-height: 25px;
    border-radius: 50%;
    &:first-of-type {
      margin-top: 3px;
      padding-right: 2px;
    }
    &:last-of-type {
      margin-top: 3px;
      padding-left: 2px;
    }
    &:hover {
      background-color: $grey-middle;
    }
  }
}

.year-type {

  .title:hover {
    cursor: default;
    background-color: transparent;
  }

  & > tbody > tr > td > div {
    width: 42px;
    height: 42px;
    min-width: 42px;
    min-height: 42px;
    margin: 0 6px;
    white-space: nowrap;
  }
}
