@import 'color';

:host {
  min-width: 150px;
}

input {
  border: none;
}

label {

  &>.placeholder {
    left: 1.5rem;
    top: 50%;
    transform: translateY(-50%);
    transition: 0.3s ease;
  }

  &>em {
    right: 48px;
    top: 50%;
    transform: translateY(-50%);
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;

    &:hover {
      color: $deep-gray
    }
  }

  &>div {
    display: flex;
    align-items: center;
    justify-content: center;
    min-width: 2.8rem;
    border-left: 1px solid $grey-iron;
    cursor: pointer;
  }

  &:focus-within,
  &:has(span.showPlaceholder) {
    .placeholder {
      top: -25%;
      left: 0.5rem;
      transform: scale(0.9);
      color: $deep-gray;
    }
  }
}
