@import 'color.scss';
@import 'variables.scss';
@import 'responsive.scss';
@import 'animation.scss';

:host {
  display: flex;
  margin: auto;
  width: 100%;
  background-color: $white;

  img {
    transform: scale(0.82);
  }

  h2,
  h3,
  h4,
  pre {
    margin-bottom: 0;
  }

  h2 {
    font-size: clamp(16px, 4vw, 36px);
    font-weight: 400;
    color: $primary-color;
    white-space: nowrap;
  }

  a {
    text-decoration: none;
  }
}

@media print {
  img {
    max-height: 100px;
  }
}

h2.title {
  color: var(--green-middle, #44b787);
  font-size: 42px;
  font-weight: 700;
  line-height: 60px;
  letter-spacing: 2.5px;
}

h3.subtitle {
  color: var(--green-middle, #44b787);
  font-size: 21px;
  font-style: normal;
  font-weight: 500;
  line-height: 35px;
  letter-spacing: 1.4px;
}

h4.subtitle {
  color: var(--green-middle, #44b787);
  font-size: 25px;
  font-style: normal;
  font-weight: 700;
  line-height: 35px;
  letter-spacing: 1px;
}

p.content {
  color: var(--grey-black, #000);
  font-size: 13px;
  font-weight: 400;
  line-height: 24px;
  letter-spacing: 1.2px;
}

section > div {
  @media print {
    margin-bottom: 2em;
  }
}

.fadeIn {
  animation: fade-in 1s ease-out forwards;
}

.popIn {
  animation: popIn 1s ease-out forwards;
}

@keyframes popIn {
  0% {
    margin-top: 0;
    opacity: 0;
  }

  50% {
    margin-top: -30px;
    opacity: 0.5;
  }

  100% {
    margin-top: 0;
    opacity: 1;
  }
}

@media screen and (max-width: 860px) {
  .section {
    &__1 {
      flex-direction: column;
    }

    &__2 {
      flex-direction: column;

      div:first-of-type {
        margin-top: 10rem;
      }
    }

    &__3 {
      flex-direction: column-reverse;
      margin-top: 8rem;
    }
  }
}
