
  <div class="d-flex flex-{{this.direction}} flex-wrap">
    <ng-container *ngIf="!!this.options.length;else tNoData">
      <ng-container *ngFor="let option of this.checkboxes;let index = index">
        <app-checkbox
        *ngIf="option.show === true || option.show === undefined"
        [option]="option"
        [name]="'checkbox-' + this.name"
        [id]="this.name+'-'+index"
        [memo]="option.memo??''"
        [disabled]="this.disabled"
        [isError]="this.isError"
        [checked]="option.isSelect"
        [isInGroup]="true"
        (valueChange)="this.change($event, index)"
        (memoChange)="this.onMemoChange($event, index)"
        ></app-checkbox>
      </ng-container>
    </ng-container>
  </div>

  <!-- 錯誤訊息 -->
  <div class="error-message" *ngIf="this.errorMessage && this.isError">{{this.errorMessage}}</div>

<!-- 沒有選項 -->
<ng-template #tNoData>
  <app-checkbox [option]="{name: '無資料', code: ''}" [noData]="true" [name]="'checkbox-' + this.name"></app-checkbox>
</ng-template>
