@import 'animation';
@import 'color';
:host {
  display: flex;
  position: fixed;
  bottom: 20px;
  animation: rightIn 2s forwards;
}
button {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 44px;
  height: 44px;
  padding-top: 7px;
  border: none;
  &::after {
    content: '';
    display: flex;
    width: 18px;
    height: 18px;
    border-top: 3px solid $white;
    border-right: 3px solid $white;
    border-end-end-radius: 3px;
    border-start-start-radius: 3px;
    transform: rotateZ(-45deg);
  }
}

@keyframes rightIn {
  from {
    right: -50px;
  }
  to {
    right: 17px;
  }
}

.clicked {
  animation: press 0.3s forwards;
}
