<ng-container *ngIf="this.option; else tNoData">
  <input #tRadio type="radio" class="d-none"
  [disabled]="this.disabled"
  [class.error]="this.isError"
  [name]="'radio-' + this.name"
  [id]="this.id"
  [checked]="this.checked === undefined ? this.model?.value === option.code : this.checked"
  [value]="option.code"
  (click)="this.check($event)" />
  <label class="d-flex align-items-start pe-pointer" [for]="this.id"
    [style.minWidth]="this.minWidth">
    <span class="click-area border-grey-iron p-relative"></span>
    <div class="d-flex flex-wrap">
      <p class="fs-md text-wrap text-grey-black ml-2" [class.hasMemo]="option.hasMemo">
        {{ option.name | translate }}
      </p>
      <input type="text" class="input"
        [(ngModel)]="this.memo"
        (ngModelChange)="this.onMemoChange($event)"
        [placeholder]="(option.memoPlaceholder ? option.memoPlaceholder : 'df.comment-send-placeholder') | translate"
        *ngIf="option.hasMemo"
        [disabled]="this.disabled || !tRadio.checked"
        id="otherInput" [value]="this.memo" />
    </div>
  </label>
  <!-- 錯誤訊息 -->
  <div class="error-message" *ngIf="this.errorMessage && this.isError">{{this.errorMessage}}</div>
</ng-container>
<!-- 無資料 -->
<ng-template #tNoData>
  <div  class="d-flex align-items-start" *ngIf="this.noData">
    <span class="click-area border-grey-iron p-relative">
      <em class="icon-minus"></em>
    </span>
    <p class="fs-md text-wrap text-grey-iron ml-2">{{'無資料'}}</p>
  </div>
</ng-template>
