@font-face {
  font-family: 'CCMA-customize';
  src: local('Noto Sans'), local('Roboto');
  unicode-range: U+4E00-9FFF;
}

@font-face {
  font-family: 'CCMA-customize';
  src: local('Noto Sans'), local('Roboto');
  unicode-range: U+00-024F;
}
