<div class="w-100 d-flex justify-content-between align-items-center">
  <div class="d-flex flex-column w-100">
    <app-text-divider [iconName]="'add'" (click)="this.addNewSubQuestion(this.group, this.question, this.questionIndex, this.questionIndex)"></app-text-divider>
    <div class="w-100 d-flex flex-column">
      <div class="d-flex mb-2">
        <p class="text-grey-black fs-lg pr-2">
          {{ this.question.title }}<span class="text-red-middle align-top ml-1"
            *ngIf="this.isRequired(this.question)">*</span>
        </p>
        <p class="text-grey-dark fs-xsm ml-2">{{ this.question.description }}</p>
      </div>
      <ul class="question-card__option-group">
        <ng-container *ngFor="
            let SubQuestion of this.question.SubQuestionGroup;
            let SubQuestionIndex = index
          ">
          <li class="w-100 d-flex flex-column align-items-start" *ngIf="SubQuestion.show">
            <p class="fs-md text-grey-dark mt-3 mb-2" *ngIf="SubQuestion.title">
              {{ SubQuestion.title }}<span class="text-red-middle align-top ml-1"
                *ngIf="SubQuestion.required">*</span>
            </p>
            <ng-container [ngSwitch]="SubQuestion.type">
              <!-- 單選 radio -->
              <app-radio-set *ngSwitchCase="this.fieldType.Radio" class="w-100"
                [formControl]="SubQuestion.form" [options]="SubQuestion.optionsForNormal"
                [isError]="SubQuestion.form.invalid && this.form!.touched && this.isCompleteClicked"
                [name]="(this.question.questionId) + '-' + SubQuestionIndex"></app-radio-set>
              <!-- 單選 select -->
              <app-select *ngSwitchCase="this.fieldType.Select" class="w-40p" [formControl]="SubQuestion.form"
                [options]="SubQuestion.optionsForNormal" [placeholder]="SubQuestion.placeholder??'請選擇'"
                [isDynamic]="true"
                [isError]="SubQuestion.form.invalid && this.form!.touched && this.isCompleteClicked"></app-select>
              <!-- 多選 checkbox -->
              <app-checkbox-set *ngSwitchCase="this.fieldType.Checkbox" class="w-80p"
                [formControl]="SubQuestion.form" [options]="SubQuestion.optionsForNormal" [name]="this.question.questionId"
                [isError]="SubQuestion.form.invalid && this.form!.touched && this.isCompleteClicked"></app-checkbox-set>
              <!-- 多選 multi select -->
              <app-multi-select *ngSwitchCase="this.fieldType.MultiSelect" class="w-40p"
                [formControl]="SubQuestion.form" [id]="this.question.title??''"
                [options]="SubQuestion.optionsForNormal" [isDynamic]="true"
                [isError]="SubQuestion.form.invalid && this.form!.touched && this.isCompleteClicked"
                [placeholder]="SubQuestion.placeholder??'可多選'" [hasFilter]="true"></app-multi-select>
              <!-- date picker -->
              <app-date-picker *ngSwitchCase="this.fieldType.DatePicker" class="h-11 w-40p"
                [formControl]="SubQuestion.form" [isDynamic]="true"
                [isError]="SubQuestion.form.invalid && this.form!.touched && this.isCompleteClicked"
                position="right" valeFontSize="1rem" [isDisabled]="SubQuestion.form.disabled">
              </app-date-picker>
              <!-- date picker range -->
              <app-date-picker *ngSwitchCase="this.fieldType.DatePickerRange" class="h-11 w-40p"
                [formControl]="SubQuestion.form" [isRange]="true" [isDynamic]="true"
                [isError]="SubQuestion.form.invalid && this.form!.touched && this.isCompleteClicked"
                position="right" valeFontSize="1rem" [isDisabled]="SubQuestion.form.disabled">
              </app-date-picker>
              <!-- 輸入欄 -->
              <app-input *ngSwitchCase="this.fieldType.Input" class="w-80p" [formControl]="SubQuestion.form"
                [isDynamic]="true"
                [isError]="SubQuestion.form.invalid && this.form!.touched && this.isCompleteClicked"></app-input>
              <!-- textarea -->
              <app-fit-content-textarea *ngSwitchCase="this.fieldType.TextArea" class="w-80p"
                [formControl]="SubQuestion.form" [isDynamic]="true" [maxHeight]="'4rem'"
                [isError]="SubQuestion.form.invalid && this.form!.touched && this.isCompleteClicked"></app-fit-content-textarea>
            </ng-container>
            <!-- 錯誤訊息 -->
            <ul class="d-flex mt-1" *ngIf="SubQuestion.form.invalid && this.form!.touched && this.isCompleteClicked">
              <ng-container *ngFor="let item of SubQuestion.validationView; let SubQuestionIndex = index">
                <li  class="error-message mr-3"
                *ngIf="SubQuestion.form.errors ? SubQuestion.form.errors[item.type] : false">
                  <span >
                    {{SubQuestion.form.errors ? SubQuestion.form.errors[item.type] : ''}}
                  </span>
                </li>
              </ng-container>
            </ul>
          </li>
        </ng-container>
      </ul>
    </div>
  </div>
  <div class="d-flex align-items-end pt-3">
    <app-borderless-button class="mr-2 h-8" [type]="this.colorType.Primary" [size]="this.sizeType.S"
      (click)="this.editSubQuestion(this.question, this.groupIndex, this.questionIndex)">編輯</app-borderless-button>
    <app-borderless-button  class="h-8" [type]="this.colorType.Warn" [size]="this.sizeType.S" [hasBg]="false"
      (click)="this.deleteSubQuestion(this.groupIndex, this.questionIndex)">刪除</app-borderless-button>
  </div>
  <app-text-divider *ngIf="this.questionIndex === (this.group.questions.length - 1)" [iconName]="'add'" [position]="'bottom'"
  (click)="this.addNewSubQuestion(this.group, this.question, this.questionIndex, this.questionIndex + 1 )"></app-text-divider>
</div>
<ng-template #tLoading>
  <div class="d-flex w-100 "></div>
</ng-template>

