@import 'color';
.question-card {
  border-radius: 10px;
  box-shadow: 0px 0px 12px 0px rgba(0, 0, 0, 0.04);
  &__question {
    & > li {
        min-height: 96px;
      &::before {
        position: fixed;
        top: 50%;
        left: 1rem;
        transform: translateY(-50%);
        content: '';
        position: absolute;
        width: 0;
        height: 85%;
        border-left: 5px solid var(--primary-background-hover);
        border-top: 4px solid transparent;
        border-bottom: 4px solid transparent;
      }
      &:hover {
        div:last-of-type {
          transition: 0.2s;
          opacity: 1 !important;
          margin-left: 0;
          color: green;
          & >  p {
            opacity: 1 !important;
          }
        }
      }
      &.error {
        &::before {
          border-left: 4px solid var(--warn-color);
        }
      }
      & > div {
        &:first-of-type {
          min-width: 150px;
          margin-left: 1rem;
          & > div p {
            transition: 0.2s;
            letter-spacing: 1px;
            // opacity: 0.7;
          }
        }
        &:last-of-type {
          opacity: 0.2;
        }
      }
    }
  }

  &__option-group {
    width: calc(100% - 1.6rem);
  }
}

p,
h4,
h5,
ul,
label {
  margin-bottom: 0;
}

app-select, app-multi-select, app-date-picker {
  max-width: 400px;
  min-width: 260px;
}
app-radio, app-checkbox-set, input {
  max-width: 854px;
  min-width: 260px;
}
