<div @fadeInOut>
  <ng-container *ngFor="let group of this.page?.groups; let groupIndex = index">
    <section class="question-card mt-6 bg-white" *ngIf="group.questions.length !== 0" [formGroup]="group.form">
      <ul class="question-card__question pt-6 pb-4">
        <ng-container *ngFor="let question of group.questions; let questionIndex = index">
          <ng-container *ngIf="question.show">
            <li @verticalShortenOut class="d-flex justify-content-between align-items-start px-8 mt-3 mb-5" *ngIf="question"
              [class.error]="question.form.invalid && this.form?.touched" [formGroup]="question.form">
              <div class="w-100 d-flex flex-column">
                <div class="d-flex mb-3">
                  <p class="text-grey-black fs-md pr-2">
                    {{ question.title }}<span class="text-red-middle align-top ml-1" *ngIf="this.isRequired(question)">*</span>
                  </p>
                  <p class="text-grey-dark fs-xsm ml-4">{{ question.description }}</p>
                </div>
                <ul class="question-card__option-group">
                  <ng-container *ngFor="
                      let SubQuestion of question.SubQuestionGroup;
                      let SubQuestionIndex = index
                    ">
                    <li class="w-100 d-flex flex-column align-items-start" *ngIf="SubQuestion.show" [formGroup]="SubQuestion.form">
                      <p class="fs-md text-grey-dark mt-3 mb-2" *ngIf="SubQuestion.title">
                        {{ SubQuestion.title }}<span class="text-red-middle align-top ml-1" *ngIf="SubQuestion.required">*</span>
                      </p>
                      <ng-container [ngSwitch]="SubQuestion.type">
                        <!-- 單選 radio -->
                        <app-radio-set *ngSwitchCase="this.fieldType.Radio" class="w-100"
                          formControlName="value"
                          [options]="SubQuestion.optionsForNormal"
                          [isError]="SubQuestion.form.invalid && this.form!.touched && this.isCompleteClicked"
                          [name]="(question?.questionId ?? '') + '-' + SubQuestionIndex"
                          [memo]="SubQuestion.form.get('memo')?.value"
                          (memoChange)="SubQuestion.form.get('memo')?.setValue($event)"></app-radio-set>
                        <!-- 單選 select -->
                        <app-select *ngSwitchCase="this.fieldType.Select" class="w-40p"
                          formControlName="value"
                          [options]="SubQuestion.optionsForNormal"
                          [placeholder]="SubQuestion.placeholder??'請選擇'"
                          [isError]="SubQuestion.form.invalid && this.form!.touched && this.isCompleteClicked"
                          (memoChange)="SubQuestion.form.get('memo')?.setValue($event)"></app-select>
                        <!-- 多選 checkbox -->
                        <app-checkbox-set *ngSwitchCase="this.fieldType.Checkbox" class="w-80p"
                          formControlName="value"
                          [options]="SubQuestion.optionsForNormal"
                          [memo]="SubQuestion.form.get('memo')?.value"
                          [isError]="SubQuestion.form.invalid && this.form!.touched && this.isCompleteClicked"
                          (memoChange)="SubQuestion.form.get('memo')?.setValue($event)"></app-checkbox-set>
                        <!-- 多選 multi select -->
                        <app-multi-select *ngSwitchCase="this.fieldType.MultiSelect" class="w-40p"
                          formControlName="value"
                          [id]="question.title??''"
                          [options]="SubQuestion.optionsForNormal"
                          [isError]="SubQuestion.form.invalid && this.form!.touched && this.isCompleteClicked"
                          [placeholder]="SubQuestion.placeholder??'可多選'"
                          [hasFilter]="true"
                          ></app-multi-select>
                        <!-- date picker -->
                        <app-date-picker *ngSwitchCase="this.fieldType.DatePicker" class="h-11 w-40p"
                          formControlName="value"
                          [isError]="SubQuestion.form.invalid && this.form!.touched && this.isCompleteClicked"
                          position="right" valeFontSize="1rem" [isDisabled]="SubQuestion.form.disabled">
                        </app-date-picker>
                        <!-- date picker range -->
                        <app-date-picker *ngSwitchCase="this.fieldType.DatePickerRange" class="h-11 w-40p"
                          formControlName="value" [isRange]="true"
                          [isError]="SubQuestion.form.invalid && this.form!.touched && this.isCompleteClicked"
                          position="right" valeFontSize="1rem" [isDisabled]="SubQuestion.form.disabled">
                        </app-date-picker>
                        <!-- 輸入欄 -->
                        <app-input *ngSwitchCase="this.fieldType.Input" class="w-80p" formControlName="value"
                        [isError]="SubQuestion.form.invalid && this.form!.touched && this.isCompleteClicked"></app-input>
                        <!-- textarea -->
                        <app-fit-content-textarea *ngSwitchCase="this.fieldType.TextArea" class="w-80p" formControlName="value"
                        [isError]="SubQuestion.form.invalid && this.form!.touched && this.isCompleteClicked"></app-fit-content-textarea>
                      </ng-container>
                      <ul class="d-flex mt-1">
                        <ng-container *ngFor="let item of SubQuestion.validationView; let SubQuestionIndex = index">
                          <li class="error-message mr-3" *ngIf="SubQuestion.form.invalid && this.form!.touched && this.isCompleteClicked">{{item.type|translate}}</li>
                        </ng-container>
                      </ul>
                    </li>
                  </ng-container>
                </ul>
              </div>
              <div class="d-flex align-items-end pt-3">
                <app-text-button class="mr-2" [type]="this.colorType.Primary" [size]="this.sizeType.Small"
                (click)="this.editSubQuestion(question, questionIndex)">編輯</app-text-button>
                <app-text-button [type]="this.colorType.Warn" [size]="this.sizeType.Small" [hasFrame]="false"
                (click)="this.deleteSubQuestion(groupIndex, questionIndex)">刪除</app-text-button>
              </div>
            </li>
          </ng-container>
        </ng-container>
      </ul>
    </section>
  </ng-container>
</div>
