@import "color";
.table-container {
  position: relative;
  overflow-x: auto;
  height: 100%;
  min-height: 450px;

  .enableScrollY {
    overflow: auto;
  }

  table {
    width: calc(100% - 5px);
    min-width: calc(100% - 60px);
    margin-right: 5px;
    border-collapse: separate;
    border-spacing: 0 0.1rem;

    thead {
      position: sticky;
      z-index: 3;
      top: 0;
      left: 0;

      tr {
        th {
          min-width: 100px;
          height: 3rem;
          padding: 0.725rem;
          white-space: nowrap;
          font-size: 1rem;
          text-align: center;
          vertical-align: middle;
          color: var(--default-header-text);
          background-color: #e9f1ee;

          &:hover {
            background-color: #ededed;
          }

          &>div {
            display: flex;
            flex-direction: row;
            justify-content: center;

            &>h6 {
              margin-right: 0.25rem;
              font-size: 1rem;
              font-weight: 400;
            }
          }

          &:first-of-type {
            position: sticky;
            left: 0;
            z-index: 2;

            &.showFrontShadow {
              transition: 0.3s;
              box-shadow: 5px 0 5px -2px rgba(0, 0, 0, 0.1);
            }
          }

          &:not(:first-of-type) {
            &.title {
              position: sticky;
              left: 45px;
              z-index: 2;
              &.showFrontShadow {
                transition: 0.3s;
                box-shadow: 5px 0 5px -2px rgba(0, 0, 0, 0.1);
              }
            }
          }

          &:last-of-type {
            border-radius: 0 0 10px 0;
          }

          &.row-check {
            cursor: default;
            min-width: 45px;

            input {
              display: none;

              &:checked+label {
                background-color: var(--primary-color);
              }
            }

            label {
              cursor: pointer;
              position: relative;
              width: 1rem;
              height: 1rem;
              margin-bottom: 0;
              border: 1px solid $grey-iron;
              border-radius: 4px;
              background-color: white;

              &:hover {
                border: 1px solid var(--default-text);
              }
            }
          }
        }

      }
    }

    tbody {
      tr {
        cursor: pointer;
        position: relative;

        &.disableHover {}

        &.enableHover {
          &:hover {
            filter: drop-shadow(6px 0px 4px rgba(0, 0, 0, 0.1));

            & td.title {
              p {
                color: var( --theme-text-color) !important;
                background-color: 'red';

                &:first-of-type {
                  .main-text {
                    font-weight: 700;
                  }
                }
              }
            }

            td {
              background: #FAFAFA;

              &:first-of-type {
                color: var(--theme-color);
                border-left: 6px solid var(--primary-color);
              }

              &:last-of-type {
                border-right: 1px solid #c8c7c7;
              }
            }
          }
        }

        td {
          height: 3.7rem;
          color: var(--default-header-text);
          font-size: 1rem;
          text-align: center;
          vertical-align: middle;
          background-color: white;
          box-sizing: border-box;
          padding: 0 10px;
          border: 1px solid transparent;

          &:hover {
            .hover-tooltip {
              visibility: visible !important;
              opacity: 1 !important;
            }
          }

          .hover-tooltip {
            position: absolute;
            visibility: hidden;
            opacity: 0;
            display: flex;
            bottom: -20px;
            left: 50%;
            transform: translateX(-50%);
            padding: 3px 5px 3px 5px;
            border-radius: 4px;

            p {
              line-height: 0.75rem;
              color: rgb(255, 255, 255);
            }
          }

          & span.frontShadow {
            position: absolute;
            top: 0;
            right: -1px;
            width: 6px;
            height: 100%;
            background-color: transparent;

            &.showFrontShadow {
              transition: 0.3s;
              box-shadow: 3px 0 5px 0px rgba(0, 0, 0, 0.1);
            }
          }

          & p {
            margin: 0;
            overflow-wrap: break-word;
            word-break: break-all;

            &.des {
              font-size: 0.9rem;
              opacity: 0.8;
            }
          }

          &:not(:first-of-type) {
            font-weight: 400;

            & p {
              overflow-wrap: normal;
              word-break: keep-all;
            }

            &.title {
              position: sticky;
              z-index: 2;
              left: 45px;

              &>p {
                font-weight: 400;

                &:first-of-type {
                  font-weight: 700;
                }
              }

              &::after {
                // content: '';
                position: absolute;
                top: 0;
                right: 0;
                height: calc(100% + 0.625rem);
                width: 6px;
                border-right: 1px solid #d8d8d8;
                background-color: transparent;
              }
            }
          }

          &:first-of-type {
            position: sticky;
            z-index: 1;
            left: 0;
            border-left: 1px solid #c8c7c7;

            &.showFrontShadow::after {
              transition: 0.3s;
              box-shadow: 3px 0 5px 0px rgba(0, 0, 0, 0.1);
            }

            &.row-check {
              cursor: default;
              input {
                display: none;

                &:checked+label {
                  background-color: var(--primary-color);
                }
              }

              label {
                cursor: pointer;
                position: relative;
                width: 1rem;
                height: 1rem;
                margin-bottom: 0;
                border: 1px solid $grey-iron;
                border-radius: 4px;

                &:hover {
                  border: 1px solid var(--default-text);
                }
              }

              &::after {
                content: unset;
              }
            }
          }

          &:last-of-type {
            border-radius: 0 0 10px 0;
          }

          .main-text {
            display: flex;
            flex-direction: row;
            align-items: center;
            justify-content: center;

            em {
              display: flex;
              align-items: center;
              justify-content: center;
              margin-bottom: 1px;
              min-height: 1rem;
              max-height: 1rem;
              min-width: 1rem;
              max-width: 1rem;
              margin-left: 0.3rem;
              font-size: 12px;
              font-weight: 800;
              transform: scale(0.9);
              color: var(--light-gray);
              border-radius: 50%;
              border: 2px solid var(--light-gray);

              &>span {
                visibility: hidden;
              }

              &:hover {
                color: var(--default-text);
                border: 1.5px solid var(--default-text);

                span {
                  opacity: 1;
                  top: -32px;
                }
              }

              span {
                display: flex;
                position: absolute;
                z-index: 11;
                top: -28px;
                left: -4px;
                white-space: nowrap;
                padding: 4px 8px;
                background-color: #333;
                color: #fff;
                font-size: 14px;
                border-radius: 4px;
                opacity: 0;
                transition: 0.3s;
              }

              &.warn {
                color: var(--default-text);
                border: 1px solid var(--default-text);

                &:hover {
                  opacity: 0.8;

                  &>span {
                    visibility: visible;
                    transition: visibility 0 0.3s;
                  }
                }
              }
            }

            .text {
              position: relative;
            }
          }
        }

        &:last-of-type {
          td {
            border-bottom: 1px solid #c8c7c7;

            &.showFrontShadow::after {
              transition: 0.3s;
              box-shadow: 3px 0 5px 0px rgba(0, 0, 0, 0.1);
            }
          }
        }
      }
    }
  }
}
