@import 'color';
app-fit-content-textarea {
  height: 0;
  opacity: 0;
  &.show {
    transition: 0.3s;
    height: auto;
    opacity: 1;
    // animation: increaseHeight 0.3s forwards;
  }
}

p,
label {
  margin-bottom: 0;
}

label {
  border-radius: 3px;
}

@keyframes increaseHeight {
  0% {
    opacity: 0;
    height: 0;
  }
  95% {
    opacity: 0;
    height: auto;
  }
  100% {
    opacity: 1;
    height: auto;
  }
}
