<!-- 草稿 -->
<ng-container
  *ngIf="
    +this.progressStatus! !== this.progress.RequiredForApprove;
    else tRequiredTemp
  "
>
  <p class="text-grey-black fs-md pe-pointer mb-1" (click)="this.toggleInput()">
    {{ 'common.remark' | translate
    }}<em
      class="icon-arrow-{{
        this.isInputting || this.content ? 'up' : 'down'
      }} fs-xsm ml-2"
    ></em>
  </p>
  <app-fit-content-textarea
    class="opa-0 w-100"
    [class.show]="this.content || this.isInputting"
    [minHeight]="'4rem'"
    [show]="!!this.content || this.isInputting"
    [(ngModel)]="this.content"
    (ngModelChange)="this.change($event)"
  ></app-fit-content-textarea>
</ng-container>
<!-- 補件 -->
<ng-template #tRequiredTemp>
  <p class="text-grey-black fs-md mb-1">{{ 'cab.remark' | translate }}</p>
  <ul>
    <li class="d-flex flex-column" *ngFor="let remark of this.model">
      <ng-container
        *ngIf="
          remark.content &&
          (!remark.loadStatus ||
            remark.loadStatus !== this.loadingStatus.Loading) &&
          (this.isOnProgressAnswer(remark.type) ? !this.isInputting : true)
        "
      >
        <div class="d-flex">
          <label
            class="bg-{{
              this.isOnProgressAnswer(remark.type)
                ? 'green-light'
                : 'grey-middle'
            }} text-{{
              this.isOnProgressAnswer(remark.type)
                ? 'green-middle'
                : 'grey-dark'
            }} fs-xs mr-2 py-0_5 px-1 mb-0_5"
            >{{
              (+remark.type === this.answerStatusType.Draft
                ? 'cab.answer-status-draft'
                : 'cab.answer-status-supplement'
              ) | translate
            }}</label
          >
          <div class="d-flex align-items-center">
            <p class="fs-xs d-flex align-items-center">
              {{ this.getEditorInfo(remark) }}
            </p>
            <em
              class="icon-edit text-green-middle ml-2 pe-pointer"
              *ngIf="this.isOnProgressAnswer(remark.type)"
              (click)="this.reEdit()"
            ></em>
          </div>
        </div>
        <pre class="text-grey-black mb-1_5">{{ remark.content }}</pre>
      </ng-container>
    </li>
  </ul>
  <div class="mt-3">
    <button
      class="btn-flat btn-normal h-10 d-flex align-items-center text-green-middle border-green-middle fw-7 fs-xsm"
      *ngIf="
        !this.isInputting &&
        (this.model === null
          ? true
          : !this.isAlreadyHasRemark(this.model[this.model.length - 1]))
      "
      (click)="this.openSupplementRemark()"
    >
      <em class="icon-add mr-1"></em> {{ 'cab.add-supplement-des' | translate }}
    </button>
    <div class="w-100" *ngIf="this.isInputting">
      <p class="text-grey-black fs-md">
        {{ 'cab.remark-supplement' | translate }}
      </p>
      <app-fit-content-textarea
        class="opa-0 w-100 mt-1"
        [class.show]="this.content || this.isInputting"
        [show]="!!this.content || this.isInputting"
        [(ngModel)]="this.content"
        (ngModelChange)="this.change($event)"
      ></app-fit-content-textarea>
      <!-- 改為全表統一一個儲存按鈕 -->
      <!-- <div class="w-100 d-flex justify-content-end mt-2">
          <button class="btn-flat btn-normal  text-green-middle border-green-middle w-30 h-10"
            (click)="this.cancel()">{{"common.cancel" | translate}}</button>
          <button class="btn-flat bg-green-middle text-white w-30 h-10 ml-3" (click)="this.submit()">{{"common.send" |
            translate}}</button>
        </div> -->
    </div>
  </div>
</ng-template>
