<textarea
  #tTextArea
  [placeholder]="this.placeholder | translate"
  [(ngModel)]="this.isDynamic ? $any(this.model![0]).value : this.model"
  [style.minHeight]="this.minHeight ? this.minHeight : '6rem'"
  [style.maxHeight]="this.maxHeight ? this.maxHeight : 'unset'"
  class="textarea w-100 overflow-auto"
  (ngModelChange)="this.resize(tTextArea)"
  [disabled]="this.disabled"
  [class.error]="this.isError"
></textarea>
<!-- 錯誤訊息 -->
<div class="error-message" *ngIf="this.errorMessage && this.isError">{{this.errorMessage}}</div>
