@import 'color';

:host {
  width: 100%;
}

.draft {
  &__checkboxGroup {
    &:not(:first-child) {
      label,
      div {
        border-top: none;
      }
    }

    input {
      &:disabled {
        & + label {
          .check-area {
            pointer-events: none;
            background-color: $green-light;
            border: 1px solid $green-middle;

            em {
              color: $green-middle;
            }
          }
        }
      }

      &:checked {
        & + label {
          background-color: $green-light !important;

          .check-area {
            background-color: $green-middle;
            border: 1px solid $green-middle;

            em {
              display: flex;
              color: $white;
            }

            &.radio {
              background-color: $white;
              border: 1px solid $grey-middle;
            }
          }
        }
      }
    }

    &:hover {
      background-color: $bg !important;
    }

    label {
      flex: 1;
      width: 33.3%;
      max-width: 33.3%;
      padding: 0.625rem 0.75rem;
      border-right: 1px solid $grey-middle;
      border-top: 1px solid $grey-middle;
      border-bottom: 1px solid $grey-middle;
      box-shadow: unset !important;
      border-color: $grey-middle !important;

      p {
        min-width: 2rem;
      }

      &.emptyClo {
        width: 100%;
      }

      &:hover {
        background-color: $bg !important;
      }

      &:first-of-type {
        border-left: 1px solid $grey-middle;
      }

      .check-area {
        width: 1rem;
        height: 1rem;
        min-width: 1rem;
        min-height: 1rem;
        border-radius: 4px;
        background-color: $white;

        &.radio {
          border-radius: 50%;

          em {
            top: 50%;
            left: 50%;
            transform: translate(-50%, -50%);
            min-height: 9px;
            min-width: 9px;
            border-radius: 50%;
            background-color: $green-middle;
          }
        }

        em {
          display: none;
          top: 10%;
          right: -2px;
          font-size: 14px;

          &::before {
            transform: scale(0.5);
          }
        }
      }

      input[type='text'] {
        height: 2.2rem;
        border-radius: 5px;
        border: 1px solid $grey-middle;

        em {
          display: none;
          top: 0;
          right: -2px;
          font-size: 14px;

          &::before {
            transform: scale(0.5);
          }
        }
      }
    }

    div {
      flex: 1;
      border-left: none;
    }
  }
}

.requiredForApprove {
  em.icon-confirmed {
    min-width: 1.85rem;
    min-height: 1.85rem;
    border-radius: 4px;
    transform: scale(0.57);
  }
}

p,
h4,
ul,
label {
  margin-bottom: 0;
}
