:host {
  width: 100%;
  display: flex;
}
.host {
  display: flex;
  height: 100%;
  width: 100%;
  flex-wrap: wrap;
  margin-left: -0.38rem;
  &>div:last-of-type { // 無資料項目
    &:hover {
      em {
        opacity: 1;
      }
    }
  }
}
