
<div class="host" [style.marginTop]="this.groupMarginTop">
    <ng-container *ngFor="let option of this.options; let index = index">
      <app-radio
      [option]="option"
      [name]="'radio-' + this.name"
      [id]="this.name+'-'+index"
      [memo]="option.memo"
      [disabled]="this.disabled"
      [isError]="this.isError"
      [checked]="option.isSelect"
      (valueChange)="this.change($event)"
      (memoChange)="this.memoChange($event, index)"
      ></app-radio>
    </ng-container>

    <!-- 錯誤訊息 -->
    <div class="error-message" *ngIf="this.errorMessage && this.isError">{{this.errorMessage}}</div>
  <!-- 無資料 -->
  <div class="d-flex align-items-start" *ngIf="this.noData">
    <span class="click-area border-grey-iron p-relative">
      <em class="icon-minus"></em>
    </span>
    <p class="fs-md text-wrap text-grey-iron ml-2">{{'無資料'}}</p>
  </div>
