<app-dialog-container padding="1.8rem 1.675rem">
  <div id="body" class="w-100 d-flex flex-column">
    <header class="w-100 d-flex align-items-center">
      <div class="w-100 d-flex justify-content-between">
        <p *ngIf="!this.card.header.innerHTML; else tHead">
          {{ this.card.header.title ?? '' | translate }}
        </p>

        <em
          class="icon-cancel text-green-middle fs-md pe-pointer ml-2"
          (click)="this.cancel()"
        ></em>
      </div>
    </header>
    <ul class="mt-2" *ngIf="!!this.card?.list?.length">
      <ng-container *ngFor="let item of this.card?.list">
        <li class="d-flex justify-content-start mt-2">
          <p *ngIf="!item.innerHTML; else tBody">{{ item.content }}</p>
          <ng-template #tBody>
            <div [innerHTML]="item.innerHTML ?? '' | safeHtml"></div>
          </ng-template>
        </li>
      </ng-container>
    </ul>
  </div>
</app-dialog-container>

<ng-template #tHead>
  <div
    class="w-100"
    [innerHTML]="this.card.header.innerHTML || '' | safeHtml"
  ></div>
</ng-template>
