@import 'color';
@import 'animation';
.tab-container {
  border-bottom: 1px solid $grey-middle;
  height: 2.26rem;
  input:checked {
    & + label {
      &:hover {
        background-color: var(--primary-background-hover);
      }
      & p,
      div {
        color: var(--primary-text-color) !important;
      }
      &::after {
        content: '';
        position: absolute;
        bottom: 0;
        left: 0;
        height: 3px;
        width: 100%;
        color: $green-middle;
        background-color: $green-middle;
      }
    }
  }
  ul {
    overflow: hidden;
    height: 0;
    transition: 0.6s ease;
  }
  li {
    &.isEvenly {
      flex: 1;
    }
    label {
      position: relative;
      width: auto;
      &:hover {
        background-color: $grey-light;
        ::ng-deep p {
          color: $green-middle !important;
        }
      }
      &:first-of-type {
        margin-left: 0 !important;
      }
      em {
        border-radius: 50%;
      }
    }
  }
}
p {
  margin: 0;
}

.fade-in {
  height: 2.6rem !important;
}
