@import"color";
:host {
  display: flex;
  flex-direction: column;
  padding: 0 0 1rem 0;
}

.title {
  p {
    border-left: 1px solid $green-middle;
    border-top: 1px solid $green-middle;
    border-bottom: 1px solid $green-middle;
  }
}

button {
  height: 26px;
  border-radius: 0 4px 4px 0;
}

