@import "color";

:host {
  display: flex;
}

input {
  &+label {
    width: 100%;
    padding-top: 2px;
    padding-bottom: 2px;
    margin-bottom: 5px;
    margin-right: 2px;
    border-radius: 4px;

    .checkbox {
      position: relative;
      width: 1rem;
      min-width: 1rem;
      margin-top: 0.25rem;
      height: 1rem;
      background-color: $white;
      border-radius: 3px;
      border: 1px solid $grey-iron;
      transition: 0.2s ease;

      em {
        &:first-of-type {
          font-size: 9px;
          visibility: hidden;
          color: $white;
        }

        &:nth-of-type(2) {
          position: absolute;
          left: -1px;
          color: $grey-iron;
          &:hover {
            opacity: 1;
          }
        }
      }
    }

    p {
      color: $grey-black;
      word-break: break-all;

      &.hasMemo {
        margin-right: 10px;
        word-break: keep-all;
      }
    }

    input {
      width: 9rem;
      height: 1.4rem;
      margin: 2px 2px 2px 0;
      border-radius: 5px;
      transition: 0.1s ease;
      &:not(:disabled):hover {
        border: 1.5px solid var(--primary-color);
      }
    }

    &.noData {
      cursor: default;
      p {
        color: $grey-iron;
      }
    }

    &.error {
      background-image: none;
      background-color: transparent !important;
      padding-right: 8px !important;
      border: none;
      &:not(:disabled):hover {
        background-color: var(--warn-background-hover) !important;
      }
      .checkbox {
        border-color: var(--warn-color) !important;
        &:not(:disabled):hover {
          border: 1.5px solid var(--warn-color) !important;
        }
      }
    }

  }

  &:not(:disabled)+label:not(.noData) {
    &:hover {
      background-color: var(--primary-background-hover);

      & .checkbox {
        border: 1.5px solid $green-middle;
      }
    }
  }

  &:checked+label {
    .checkbox {
      border: 1px solid var(--primary-color);
      background-color: var(--primary-color);

      em:first-of-type {
        visibility: visible;
      }
    }
  }

  &:disabled+label {
    cursor: default;

    .checkbox {
      background-color: $grey-light;
    }

    p {
      color: $grey-iron
    }
  }
}
