<div class="w-100 position-relative">
  <div class="input w-100 h-11 d-flex justify-content-between align-items-center position-relative"
    (click)="this.open()" [class.disabled]="this.disabled" [class.error]="this.isError"[class.focus]="this.isOpen">
    <p class="text-nowrap overflow-auto text-left w-100 text-grey-{{this.currentOption?.name ? 'black' : 'iron'}}">
      {{ this.currentOption?.name ?? this.placeholder | translate }}
    </p>
    <em class="fas fa-caret-down position-absolute text-grey-black"></em>
  </div>
  <!-- 錯誤訊息 -->
  <div class="error-message" *ngIf="this.errorMessage && this.isError">{{this.errorMessage}}</div>
</div>
