<div class="w-100 position-relative">
  <div class="input w-100 h-11 d-flex justify-content-between align-items-center position-relative"
    (click)="this.open()" [class.disabled]="this.disabled" [class.error]="this.isError">
    <p class="text-nowrap overflow-auto text-left w-100 text-grey-{{this.currentOption?.name ? 'black' : 'iron'}}">
      {{ this.currentOption?.name ?? this.placeholder | translate }}
    </p>
    <em class="fas fa-caret-down position-absolute text-grey-black"></em>
  </div>
  <!-- dropdown -->
  <ul #tDropDown *ngIf="this.isOpen" class="dropdown w-100 position-absolute overflow-auto bg-white py-2">
    <li class="w-100 px-3 py-1 mb-0 align-middle" *ngIf="this.options.length === 0">
      {{ 'common.no-select-item' | translate }}
    </li>
    <li class="w-100 px-3 py-1 mb-0 align-middle" *ngIf="this.enableAll" [value]="" (click)="this.selectOption()">
      {{ 'common.all' | translate }}
    </li>
    <li *ngFor="let option of this.options; let index = index">
      <input type="radio" class="d-none" [value]="option.code" [id]="'select' + index" name="select"
        (click)="this.selectOption(option)" />
      <label [for]="'select' + index" class="w-100 px-3 py-1 mb-0 align-middle">{{ option.name | translate
        }}</label>
    </li>
  </ul>
  <!-- 錯誤訊息 -->
  <div class="error-message" *ngIf="this.errorMessage && this.isError">{{this.errorMessage}}</div>
</div>
