/* You can add global styles to this file, and also import other style files */
@import 'font.scss';
@import 'color.scss';
@import 'variables.scss';
@import 'animation';
@import 'mixins';

/* Importing Bootstrap SCSS file. */
// @import '../node_modules/bootstrap/scss/bootstrap';
@import 'bootstrap';
// Plus imports for other components in your app.
@import 'reset.scss';
@import 'responsive.scss';
@import 'print.scss';
@import 'utilities.scss';
@import 'form.scss';
@import 'root.scss';

:root {
  // color
  --primary-color: #44b787;
  --primary-text-color: #0c8553;
  --primary-select-color: #cde3c5;
  --primary-background-hover: #e4efea;
  --primary-fluorescent: #56dda5;
  --warn-color: #ef6149;
  --warn-light: #fbd7d1;
  --warn-background-hover: #ffe2dd;
  --grey-background-hover: #e7e7e7;
  --secondary-color: #f0f4f2;
  // form
  --form-radius-m: 8px;
  --form-radius-sm: 5px;
  --form-radius-s: 3px;
}

html {
  font-size: 16px; //1rem
}

* {
  font-family: 'Noto Sans', Roboto, FontAwesome, 'Helvetica Neue', sans-serif !important;
}

p,
label {
  color: $grey-dark;
}

ul, ol {
  padding-left: 0;
}

/* Box sizing rules */
*,
*::before,
*::after {
  box-sizing: border-box;
}

/* Remove default margin */
body,
h1,
h2,
h3,
h4,
p,
figure,
blockquote,
dl,
dd {
  margin: 0;
}

/* Set core body defaults */
body {
  min-height: 100vh;
  text-rendering: optimizeSpeed;
  line-height: 1.5;
}


