@import 'color';
@import 'animation';
:host {
  display: flex;
  transition: 0.3s ease-out;
}
.toast {
  pointer-events: all;
  max-width: unset;
  padding: 0.3rem 0 0.3rem 0.5rem;
  color: $white;
  border-radius: 0.3rem;
  animation: fade-up-in 0.3s ease forwards;
  filter:  brightness(0.99);
  &.success {
    background-color: $green-middle;
  }
  &.error {
    background-color: $red-middle;
  }
  &.inform {
    background-color: $yellow-middle;
  }
  &.warn {
    background-color: #efad49;
  }
  &.fade-up-out {
    animation: fade-up-out 0.3s ease forwards;
  }
  & > div:first-child {
    min-width: 250px;
    max-width: 400px;
    & > em {
      min-width: 1rem;
      margin: 0 0.55rem 0 0.1rem;
    }
    h6 {
      margin-bottom: 0;
      filter:drop-shadow(0 0 1px 3px rgba(0, 0, 0, 0.5));
    }
  }
  p {
    color: $white;

  }
}

.x {
  cursor: pointer;
  position: relative;
  min-width: 27px;
  height: 27px;
  transition: 0.3s ease;
  &:hover {
    &:before,
    &:after {
      opacity: 1;
    }
  }
  &:before,
  &:after {
    content: '';
    position: absolute;
    width: 22px;
    height: 22px;
    opacity: 0.7;
    transform: rotate(45deg);
  }
  &:before {
    top: 2px;
    left: -1px;
    border-top: 2px solid $white;
    border-radius: 2px;
    transform-origin: left;
  }
  &:after {
    top: 3px;
    left: -8px;
    border-right: 2px solid $white;
    border-radius: 2px;
    transform-origin: right;
  }
}
