<!-- <section class="question-card mt-6 py-6 bg-white"
*ngIf="this.question_pages ? pageIndex === (this.question_pages.length -1) : false">
<div class="question-card__header">
  <div class="d-flex align-items-center px-8 pb-3">
    <em class="complete icon-confirmed h-8 w-8 bg-green-light mr-2_5 text-center"
      *ngIf="this.fileControl?.valid"></em>
    <em class="d-flex align-items-center justify-content-center mr-2_5 fs-xs fw-7"
      *ngIf="!this.fileControl?.valid">{{this.question_pages![pageIndex].groups[this.question_pages![pageIndex].groups.length
      - 1].order + 1}}</em>
    <h4>{{"cab.upload-ppt" | translate}}</h4>
  </div>
</div>
<div
  class="question-card__upload d-flex align-items-center justify-content-center px-3 my-6 mx-8 text-center border-grey-light"
  [class.error]="this.fileControl.invalid && this.cabForm.touched && this.isCompleteClicked">
  <div class="d-flex flex-column align-items-center">
    <p class="fs-sm text-grey-iron" *ngIf="!this.isLastFileError && !this.fileControl.controls[0].value.fileName">
      {{"cab.upload-size-limit" | translate}}</p>
    <a class="text-grey-black"
      [href]="this.isFileSavedLocal ? this.fileControl.controls[0].value.url :'javascript:' | safeHtml"
      [download]="this.fileControl.controls[0].value.fileName"
      (click)="!this.isFileSavedLocal ? this.downloadFile($event, this.fileControl.controls[0].value.file) : null"
      *ngIf="this.fileControl.controls[0]?.get('fileName')?.value">{{this.fileControl.controls[0].get('fileName')?.value}}</a>
    <div class="d-flex flex-column align-items-center" *ngIf="this.isLastFileError">
      <em class="icon-exclamation-round text-green-middle mb-2"></em>
      <p class="text-green-middle" *ngIf="this.fileControl.controls[0].value.isSizeError">{{
        "cab.error-size-plz-reupload" | translate}}</p>
      <p class="text-green-middle" *ngIf="this.fileControl.controls[0].value.isTypeError">{{
        "cab.error-type-plz-reupload" | translate}}</p>
    </div>
    <div class="d-flex align-items-center mt-5">
      <button class="btn-flat btn-normal text-green-middle border-green-middle h-10 fs-xsm px-5 mr-2"
        (click)="downloadFileTemp()">{{"cab.basic-btn-download-temp" | translate}}</button>
      <input type="file" accept=".ppt, .pptx, .pdf" class="d-none" id="upload" (change)="this.upload($event)">
      <label
        class="btn-flat d-flex align-items-center justify-content-center bg-green-middle w-30 h-10 fs-xsm px-5 pe-pointer"
        for="upload" *ngIf="this.fileControl?.invalid"><em
          class="icon-upload text-white mr-2"></em>{{(!this.fileControl.controls[0].get('url')?.value ?
        "cab.upload-ppt" :
        "cab.reupload") | translate}}</label>
      <button class="btn-flat btn-normal text-grey-iron border-grey-iron w-30 h-10 fs-xsm px-5"
        (click)="this.clearFile()" *ngIf="this.fileControl?.valid">{{"cab.delete-file" | translate}}</button>
    </div>
  </div>
</div>
</section> -->
